Repository xrq-phys/cosmos-predict2: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock, uv-lock-script

uv-lock:
  name: Generate uv lock files for projects
  entry: ./bin/_uv_lock.sh
  language: script

uv-lock-script:
  name: Generate uv lock files for scripts
  entry: ./bin/_uv_lock_script.sh
  language: script

PICBIR9W-1126: Remove download from distcp script. (#145)
  scripts/convert_distcp.py
  scripts/convert_distcp.py.lock
Due: uv-lock-script

Remove download_distcp (#146)
  scripts/download_distcp.py
  scripts/download_distcp.py.lock
Due: uv-lock-script

PICBIR9W-1123: Use cosmos-dependencies package index (#144)
  .dockerignore
  ATTRIBUTIONS.md
  ATTRIBUTIONS.txt
  CONTRIBUTING.md
  Dockerfile
  README.md
  bin/entrypoint.sh
  documentations/post-training_video2world_lora.md
  documentations/setup.md
  justfile
  pyproject.toml
  scripts/_sync.sh
  uv.Dockerfile
  uv.lock
Due: uv-lock

PICBIR9W-1159-pypi: Publish to pypi (#149)
  ATTRIBUTIONS.txt
  README.md
  documentations/setup.md
  examples/project/README.md
  examples/project/pyproject.toml
  examples/project/uv.lock
  justfile
  pyproject.toml
  uv.Dockerfile
  uv.lock
Due: uv-lock

PICBIR9W-1159: Add release script (#150)
  ATTRIBUTIONS.txt
  bin/release.sh
  justfile
Due: none

Fix pypi readme. (#151)
  .pre-commit-config.yaml
  ATTRIBUTIONS.md
  documentations/post-training_text2image_cosmos_nemo_assets.md
  documentations/post-training_video2world_agibot_fisheye.md
  documentations/post-training_video2world_cosmos_nemo_assets.md
  documentations/post-training_video2world_lora.md
  justfile
  pyproject.toml
  uv.lock
Due: uv-lock

Path conditions:
  uv-lock: any of: pyproject\.toml$
  uv-lock-script: any of: \.py$
